@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800&display=swap");
:root {
  /* Font Colors */
  --font-white: #ffffff;
  --font-light: #f9f9f9;
  --font-grey: #afafaf;
  --font-dark-blue: hsla(168, 95%, 76%, 0.741);
  --font-light-blue: #b0fee7;

  /* Colors */
  --light-green: #c1fc38;
  --green: #b0f50b;
  --light-blue: #2acad1e3;
  --dark-blue: #25b5bb;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: #edfaff;
  height: 100vh;
}

.container {
  background-color: #fff;s
  border-radius: 5px;
  display: grid;
  width: 800px;
  height: 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.45fr 0.55fr;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header {
  grid-area: 1 / 3 / 2 / 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
  padding: 30px;
}

.subscription-wrapper,
.info-wrapper {
  padding: 40px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.subscription-wrapper {
  background-color: var(--dark-blue);
  color: var(--font-light);
  grid-area: 2 / 2/ 3 / 1;
  border-bottom-left-radius: 5px;
}

.info-wrapper {
  background-color: var(--light-blue);
  grid-area: 2 / 3 / 3 / 2;
  border-bottom-right-radius: 5px;
}

.header h2 {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--dark-blue);
}

h3 {
  color: var(--font-light);
}

.subscription-wrapper h3 {
  margin-bottom: 10px;
}

.monthly-rate {
  display: flex;
  margin: 10px 0;
  align-items: center;
  color: var(--font-dark-blue);
}

#price {
  font-weight: 800;
  font-size: 2rem;
  color: #fff;
  padding-right: 5px;
}

.sign-up {
  background-color: var(--green);
  color: #fff;
  font-weight: 600;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  padding: 15px;
  transition: all 0.3s ease;
}

.sign-up:focus,
.sign-up:hover {
  background-color: var(--light-green);
}

.info-wrapper h3 {
  margin-bottom: auto;
}

.info-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: none;
  padding: 0;
  color: var(--font-light-blue);
}
.text-highlight {
  color: var(--green);
  font-weight: 700;
  margin: 8px 0;
}

.text-grey {
  font-size: 1rem;
  color: var(--font-grey);
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .subscription-wrapper,
  .info-wrapper {
    padding: 24px;
  }

  .sign-up {
    margin-top: 20px;
  }

  .info-wrapper h3 {
    margin-bottom: 20px;
  }
}
